.resultTitle {
    margin-top: 5vh;
    padding-bottom: 5%;
    display: block;
}

.resultsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
}

.resultsContainer a {
    text-decoration: none;
}

.resultsContainer a:focus,
.resultsContainer a:active,
.resultsContainer a:hover {
  color: inherit; /* keep the color the same when the link is focused, active, or hovered */
  outline: none; /* remove the outline when the link is focused */
}

.result {
    border: 2px solid var(--card-border-color);
    border-radius: 5px;
}

.result:hover {
    background-color: var(--card-background-color);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s, font-weight 0.5s;
}

.result img {
    width: 100%;
}

@media only screen and (max-width: 1150px) and (min-width: 779px) {
    .resultsContainer {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media only screen and (max-width: 778px) {
    .resultsContainer {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
}



