@import url('https://fonts.cdnfonts.com/css/common-pixel');

.pokedex {
    background-color: var(--pokedex-main-color);
    padding: 2rem;
    border-radius: 12.5px;
    z-index: 1000;
}

.pokedex h4 {
    color: var(--alternate-text-color);
    border: 3.5px solid var(--alternate-text-color);
    text-align: center;
    margin: 0 30% 1rem;
    padding: 2px 5px;
    display: block;
    border-radius: 50px;
    letter-spacing: 1px;
}

.pokedexImage {
    display: grid;
    background-color: var(--background-screen-color);
    grid-template-columns: 1fr 4fr 1fr;
    border-radius: 7.5px;
    border: 1px solid var(--pokedex-border-color);
    margin-bottom: 1rem;
    height: 350px;
}

.pokedexImage .innerContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
}

.pokedexImage img, .pokedexImage .innerContainer img {
    width: 100%;
    margin: auto 0;
}

.pokedexImage .innerContainer .data {
    color: var(--alternate-text-color);
    text-transform: capitalize;
    margin: auto 0;
}

.leftButton, .rightButton {
    height: 100%;
    margin-top: 20%;
    background-color: transparent;
}

.leftButton:hover, .rightButton:hover {
    margin-top: 10%;
    cursor: pointer;
    transition: margin-top 0.25s;
}

.pokedexButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    column-gap: 5%;
}

.pokedexButtons button {
    background-color: var(--buttons-background-color);
    width: 50px;
    height: 50px;
    border-radius: 15%;
    border: 5px outset var(--buttons-border-color);
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.pokedexButtons button:hover {
    cursor: pointer;
    transform: scale(1.05); 
    background-color: #5DA399;
}

.pokedexButtons button:active {
    border: 2.5px inset var(--buttons-border-color);
}

.pokedexButtons button img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
