select option {
    font-size: 16px;
    background-color: var(--main-background-color);
  }

select {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--main-background-color);
    border-radius: 5px; 
    outline: none;
    transition: all 0.2s ease-in-out;
}

select:hover {
    border-color: var(--input-border-color);
    cursor: pointer;
}
  
select:focus {
    border-color: var(--input-border-color);
}

