form {
    padding: 1vh 3vw;
}

.typesList {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5%;
    gap: 1rem;
    align-items: center;
}

.searchButton {
    margin-top: 1rem;
    background-color: var(--buttons-background-color);
    border-radius: 10%;
    border: 5px outset var(--buttons-border-color);
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

.searchButton:hover {
    cursor: pointer;
    transform: scale(1.05); 
    background-color: var(--input-border-color);
}

.searchButton:active {
    border: 2.5px inset var(--buttons-border-color);
}

inputContainer {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr;
}

input[type="text"] {
    padding: 10px;
    width: 95%;
    font-size: 16px;
    margin-top: 0.5rem;
    border: 2px solid var(--main-background-color);
    border-radius: 5px; 
    outline: none;
    transition: all 0.2s ease-in-out;
  }

input[type="text"]:hover {
    border-color: var(--input-border-color);
}
  
input[type="text"]:focus {
    border-color: var(--input-border-color);
}
