.container {
    display: flex;
    flex-direction: column;
    margin: 5% 35%;
}

.resultTitle {
    padding-bottom: 5%;
    display: block;
}

.resultsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3%;
    column-gap: 3%;
}

.result {
    border: 2px solid var(--results-border-color);
    border-radius: 5px;
}

.result:hover {
    background-color: aliceblue;
    box-shadow: 0px 0px 30px white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s, font-weight 0.5s;
}


.result img {
    width: 100%;
}

.result p {
    margin: auto 0;
    padding: auto 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 75%;
}

@media (max-width: 1150px) and (min-width: 779px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 5% 25%;
    }
}

@media (max-width: 778px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 5% 15%;
    }
}

    
