.container {
    display: flex;
    flex-direction: column;
    margin: 1% 20%;
    padding: 1% 10%;
    border-right: 5px dashed var(--border-background-color);
    border-left: 5px dashed var(--border-background-color);
}

.resultTitle {
    padding-bottom: 5%;
    display: block;
}

.resultsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3%;
    column-gap: 3%;
}

.result {
    border: 2px solid var(--results-border-color);
    border-radius: 5px;
}

.result:hover {
    background-color: var(--card-background-color);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s, font-weight 0.5s;
}


.result img {
    width: 100%;
}

.result p {
    margin: auto 0;
    padding: auto 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 75%;
}

footer {
    padding-top: 75%;
    text-align: center;
}

@media (max-width: 1150px) and (min-width: 779px) {
    .container {
        margin: 1% 10%;
    }
}

@media (max-width: 778px) {
    .container {
        margin: 1% 0%;
    }
}

    
